// header styles 

.site_header {
	background: $charcoal;	

	.logo {
		@include span-columns(4);
		margin: 0.25em 0 0;
		
		a {
			color: $white;
		}	
	}
	.header_nav {
		@include span-columns(8);

	}

}