#globalHeader {
	padding: 1rem 0 0;
	border-bottom: 2px solid $charcoal;

	#headerNavigation {
		@include outer-container;
		margin-top: 2rem;

		ul {
			list-style: none;

			li {
				background: $charcoal;
				float: left;

				a {
					display: inline-block;
					color: $white;
					padding: 1rem;
				}
			}
		}
	}
}